
body{
    background: #d3e0ea;
    font-family: Arial;
    font-size: 15px;
}

#principal{
    align-self: center;
    width: 60%; 
    background:#d3e0ea;
    margin-left: auto;
    margin-right: auto;

}

#login{
    width: 25%;
    left: 0%;
    margin-right: 20%;
}

#registro{
    align-self: right;
    width: 25%;
    right: 0%;
    margin-left: 20%;
}
   
#busqueda{
    right: 0%;
    margin-bottom: 5%;
    margin-top: 5%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

#presentación{
    align-content: justify;
    width: 60%;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    background: #1687a7;
    border-radius: 10px;
}

.descripcion{
    padding: 10px;
}

.cabecera{
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  width: 100%;
}

#cuadro-inicio{
  align-content: center;
  width: 50%;
  height: 100%;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 10%;
  margin-bottom: 20%;
  background: #1687a7;
  border-radius: 10px;
  padding: 2%;
}
#contraseña{
  width: 30%;
  height: 30%;
  margin-top: 30%;
  margin-left: 10%;
  margin-bottom: 10%;
}
#usuario{

  width: 30%;
  height: 30%;
  margin-top: 30%;
  margin-right: 20%;
  margin-bottom: 10%;
}
#titulo{
  align-self: center;
  margin-left: 40%;
  margin-right: 25%;
  margin-bottom: 25%;
}