img{
    max-width: 100%;
    border-radius: 1px;
<<<<<<< HEAD
    object-fit: cover;
    object-position: center center;
=======
>>>>>>> 38661b19cbc8db5eb9bfe11a9cbc8d67e7c9090e
}
.img-raised{
    box-shadow: $box-shadow-raised;
}
